CREATE TABLE IF NOT EXISTS public.telegram_messages (id UUID PRIMARY KEY DEFAULT gen_random_uuid(), chat_id TEXT NOT NULL, website_id UUID REFERENCES public.websites(id) ON DELETE CASCADE, role TEXT NOT NULL, content TEXT NOT NULL, created_at TIMESTAMPTZ DEFAULT NOW()); CREATE INDEX IF NOT EXISTS idx_telegram_messages_chat_id ON public.telegram_messages(chat_id);
